<?xml version="1.0" encoding="UTF-8"?><rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <atom:link href="http://www.fast-cast.net/podcasts/tgi/feed.rss" rel="self" type="application/rss+xml"/>
    <title>That's a Good Idea</title>
    <link>http://www.fast-cast.net/podcasts/tgi/index.html</link>
    <pubDate>Mon, 12 Oct 2015 10:37:00 -0700</pubDate>
    <lastBuildDate>{{datetime}}</lastBuildDate>
    <ttl>60</ttl>
    <language>en</language>
    <copyright>All rights reserved</copyright>
    <webMaster>ben@benallfree.com (Ben Allfree)</webMaster>
    <description>Join tech entrepreneur and expert programmer Ben Allfree on That's a Good Idea (TGI) for a daily dose of new business ideas and startup thinking.</description>
    <itunes:new-feed-url>http://www.fast-cast.net/podcasts/tgi/feed.rss</itunes:new-feed-url>
    <itunes:subtitle>Good ideas served daily</itunes:subtitle>
    <itunes:owner>
      <itunes:name>Ben Allfree</itunes:name>
      <itunes:email>ben@benallfree.com</itunes:email>
    </itunes:owner>
    <itunes:author>Ben Allfree</itunes:author>
    <itunes:explicit>yes</itunes:explicit>
    <itunes:image href="http://www.fast-cast.net/podcasts/tgi/logo.jpg"/>
    <image>
      <url>http://www.fast-cast.net/podcasts/tgi/logo.jpg</url>
      <title>That's a Good Idea</title>
      <link>http://www.fast-cast.net/podcasts/tgi/index.html</link>
    </image>
    <itunes:category text="Education"/>    
		{{#each episodes}}
			{{#if this.published_at }}
		    <item>
		      <guid isPermaLink="false">{{this.guid}}</guid>
		      <title>{{sprintf "%03d" this.number}} - {{this.title}}</title>
		      <pubDate>{{datetime this.published_at}}</pubDate>
		      <link>http://www.fast-cast.net/podcasts/tgi/episodes/{{this.slug}}</link>
		      <itunes:duration>{{hhmmss this.duration_ms}}</itunes:duration>
		      <itunes:author>Ben Allfree</itunes:author>
		      <itunes:explicit>yes</itunes:explicit>
		      <itunes:summary>{{this.description}}</itunes:summary>
		      <itunes:subtitle>{{this.description}}</itunes:subtitle>
		      <description>{{this.description}}</description>
		      <enclosure type="audio/mp4" url="http://www.fast-cast.net/podcasts/tgi/episodes/{{this.slug}}/{{this.slug}}.m4a" length="{{this.length_bytes}}"/>
		      <itunes:image href="http://www.fast-cast.net/podcasts/tgi/logo.jpg"/>
		    </item>
			{{/if}}
		{{/each}}
  </channel>
</rss>